/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}


/* ----------------header---------------- */
.topbar {
  background-color: #232F3E;
  padding: 2px 48px 0px ;
  text-align: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
}

.topbar > img {
  width: 100px;
}

/* ----------main content----------------------------- */
.mainContainer {
  margin-top: 32px;
  padding: 4% 12%;
  box-sizing: border-box;
  width: 100%;
  display:flex;
  align-items: center;
}

.ProductPreview {
  width: 50%;
  
}

.ProductPreview >img {
  width: 100%;
}

.ProductData {
  width: 50%;
}

.ProductTitle {
  font-size: 48px;
  font-weight: 600;
  margin-top: 0px;
}
.ProductDesc {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}

.ProductHeading {
  font-size: 28px;
  margin-bottom: 15px;
}

.ProductImage {
  width: 100%;
  max-width: 80px;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}

.SelectedProductImage {
  border: 2px solid teal; 
}

.FeatureItem {
  background-color: gainsboro;
  border-radius: 8px;
  border: 0;
  padding: 12px 32px;
  min-width: 80px;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  box-sizing: content-box;

}

.SelectedFeatureItem {
  color: white;
  background-color: grey;
  font-weight: 600;
}

.PrimaryButtom {
  color: white;
  background-color: teal;
  margin: 40px 0px;
  border-radius: 8px;
  padding: 12px 38px;
  box-sizing: border-box;
  border:0;
  font-size: 18px;
  font-weight: 500;
}