/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}


/* ----------------header---------------- */
.topbar {
  background-color: #232F3E;
  padding: 2px 48px 0px ;
  text-align: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
}

.topbar > img {
  width: 100px;
}

/* ----------main content----------------------------- */
.mainContainer {
  margin-top: 32px;
  padding: 4% 12%;
  box-sizing: border-box;
  width: 100%;
  display:flex;
  align-items: center;
}

.productPreview {
  width: 50%;
  
}

.productPreview >img {
  width: 100%;
}

.productData {
  width: 50%;
}

.productTitle {
  font-size: 48px;
  font-weight: 600;
}
.productDesc {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.ProductImage {
  width: 100%;
  max-width: 80px;
  border: 1px solid #232F3E; 
  border-radius: 8px;
}