/* ----------------header---------------- */
.topbar {
  background-color: #232F3E;
  padding: 2px 48px 0px ;
  text-align: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
}

.topbar > img {
  width: 110px;
}

/* ----------main content----------------------------- */
.mainContainer {
  margin-top: 32px;
  padding: 0px 12px;
  box-sizing: border-box;
  width: 100%;
  display:flex;
  align-items: center;
}

.productPreview {
  width: 50%;
}

.productPreview >img {
  width: 80%;
}