.ProductDetails {
  width: 100%;
}

.ProductTitle {
  font-size: 48px;
  font-weight: 600;
  margin-top: 0px;
}
.ProductDesc {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}

.ProductHeading {
  font-size: 28px;
  margin-bottom: 15px;
}

.ProductImage {
  width: 100%;
  max-width: 80px;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}

.SelectedProductImage {
  border: 2px solid teal; 
}

.FeatureItem {
  background-color: gainsboro;
  border-radius: 8px;
  border: 0;
  padding: 12px 32px;
  min-width: 80px;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  box-sizing: content-box;

}

.SelectedFeatureItem {
  color: white;
  background-color: grey;
  font-weight: 600;
}

.PrimaryButtom {
  color: white;
  background-color: teal;
  margin: 40px 0px;
  border-radius: 8px;
  padding: 12px 38px;
  box-sizing: border-box;
  border:0;
  font-size: 18px;
  font-weight: 500;
}