.ProductPreview {
  width: 500%;
  position: relative;
}

.ProductPreview >img {
  width: 100%;
}

.TimeSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
}
.HeartBeatSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HeartBeatSection> i {
  color: red;
  animation: beat 1s infinite;
  margin-right: 30px;
}
@keyframes beat {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}